.header-style {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      height: 60px;
      line-height: 56px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
      background-color: #0069ff;
}

.homebtn-hover {
      margin-left: 20px;
      transition: .3s;
}

svg {
      overflow: hidden;
      vertical-align: middle;
}

.position-container {
      width: 100%;
      color: #fff;
      font-family: Roboto-Regular;
      font-size: 14px;
      margin-bottom: 10px;
      padding-top: 10px;
}

.text-gradient-color {
      margin: 2px !important;
      border: 1px solid #616161 !important;
      width: 30px !important;
      height: 30px !important;
      padding-top: 0 !important;
}

.text-box-clear-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #9a9a9a;
      border: 1px solid #0069ff;
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
}

.single-control-container {
      display: table;
      padding-top: 5px;
      margin-bottom: 10px;
      width: 100%;
}

.pre-filter-checkbox .mat-checkbox-ripple {
      left: calc(50% - 65%);
      top: calc(50% - 65%);
      height: 130%;
      width: 130%;
}

.pre-filter-checkbox .mat-checkbox-frame {
      border: 0 solid transparent;
}

.pre-filter-checkbox.mat-checkbox.mat-accent.mat-checkbox-checked .mat-checkbox-background {
      background-color: #0000008c !important;
      border-radius: 0;
}

.pre-filter-checkbox .mat-checkbox-checkmark {
      max-width: 30px;
      margin: auto;
}

.single-control-container {
      display: table;
      padding-top: 5px;
      margin-bottom: 10px;
      width: 100%;
}

/********** Tools CSS ************/
.tool-options-item .item {
      background: none !important;
      border-radius: 0px !important;
}
.tool-options-item .tool-qrcode div {
      background: #3BA4C8;
      padding: 18px;
}

.tool-options-item .tool-item-image {
      border-radius: 5px;
}

.height-90 {
      height: 90px;
}

.tool-options-item .item p {
      text-align: center;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      margin-top: 8px;
      margin-bottom: 9px;
}

.height-20 {
      height: 20px;
}

.item img {
      margin: auto;
      max-height: inherit;
      max-width: 100%;
      -webkit-user-drag: initial;
}

.tool-options-item .tool-barcode div {
      background: #D04F74;
      padding: 22.4px 18px 23px 18px;
}

.tool-options-item .tool-chart div {
      background: #69B264;
      padding: 18px;
}

.tool-code-preview {
      margin-top: 15px;
      height: calc(100vh - 135px);
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0px 8px;
}

.tool-code-preview p {
      color: #fff;
      margin-left: 7px;
      font-size: 15px;
}

.code-preview {
      background: rgba(255, 255, 255, 0.1);
      padding: 12px 0px;
}

#qrcanvas {
      height: 111px !important;
      width: 111px !important;
}

.tool-tab-style {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 22px;
}

.qr-content {
      margin-left: 5px;
      margin-right: 5px;
}

.tool-form-group label {
      color: #fff;
      font-size: 14px;
}

label {
      display: inline-block;
      margin-bottom: .5rem;
}

.tool-select-box {
      position: relative;
}

.tool-select-box .select-option div {
      border-radius: 0px !important;
      border: none !important;
}

.tool-select-box .select-main img, .select-option img, .select-option svg {
      vertical-align: top;
      margin-top: 4px;
      margin-right: 9px;
      width: 18px;
}

.tool-select-box .tool-drop-down-icon {
      position: absolute;
      top: 13px;
      right: 13px;
      width: 14px;
}

/**************** Cropping CSS *****************/
.crop_div_parent {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.crop_parent_svg {
      width: 110px;
      height: 110px;
      background-color: #c3c8db;
      border-radius: 10px;
      margin-bottom: 25px;
}

.crop_svg_ele {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
}

.crop_txt{
      color: white;
      font-size: 12px;
      display: flex;
      justify-content: center;
      margin: 5px 0px 0px 0px;
}

.active-crop-border {
      border: 3px solid #0069ff;
      border-radius: 8px;
}
/*********************************/

#inpt_txt_gred {
      background-color: white;
      color: black;
      border-top: solid 1px #4c5469;
      border-bottom: solid 1px #4c5469;
}

::ng-deep .mat-mdc-checkbox {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
}

::ng-deep .mdc-form-field {
      height: 100% !important;
      display: block !important;
}

::ng-deep .mdc-form-field:hover {
      outline: #61b1ff solid 1px !important;
}

::ng-deep .mat-mdc-checkbox-checked .mdc-form-field .mdc-checkbox {
      background-color: #0000008c !important;
}

::ng-deep .mdc-checkbox {
      width: 100% !important;
      height: 100% !important;
}

::ng-deep .mdc-checkbox__background {
      width: 100% !important;
      height: 100% !important;
      left: 0 !important;
      border: none !important;
}

::ng-deep .mdc-checkbox__background .mdc-checkbox__checkmark{
      width: 70% !important;
      height: 70% !important;
      top: 8px !important;
      left: 8px !important;
}

::ng-deep .fill-color-picker .color-picker {
      top: 445.729px !important;
      left: 0px !important;
}

::ng-deep .border-color-picker .color-picker {
      top: 120px !important;
      left: 0px !important;
}

::ng-deep .shadow-color-picker .color-picker {
      top: 104px !important;
      left: 0px !important;
}

::ng-deep .blend-color-picker .color-picker {
      top: -310px !important;
      left: -76px !important;
}

::ng-deep #vd_hex_clrpickrWrap .color-picker {
      top: 45px !important;
      left: 0 !important;
}

::ng-deep .bgColorPicker .color-picker {
      top: 125px !important;
      left: 100px !important;
}

::ng-deep .mat-expansion-panel-header {
      height: 30px !important;
      background-color: #29314E !important;
}

::ng-deep .mat-expansion-panel-body {
      padding: 0 !important;
}

::ng-deep .mat-expansion-panel-spacing {
      margin: 0px !important;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
      top: 0px !important;
      left: 0px !important;
      position: absolute !important;
      z-index: 1000 !important;
      display: flex !important;
      flex-direction: column !important;
      min-width: 1px !important;
      min-height: 1px !important;
      height: 100% !important;
      width: 100% !important;
}

::ng-deep .cdk-overlay-pane {
      min-width: 200px !important;
      font-size: 14px !important;
      width: 200px !important;
      pointer-events: auto !important;
      box-sizing: border-box !important;
      position: absolute !important;
      z-index: 1000 !important;
      bottom: 140px !important;
      left: 1545px !important;
      display: flex !important;
      max-width: 100% !important;
      max-height: 100% !important;
}

::ng-deep #cdk-overlay-0 {
      width: 276px !important;
      /* bottom: 400px !important;
      left: 100px !important; */
}

::ng-deep #cdk-overlay-0.cdk-overlay-pane:has(> div#mat-menu-panel-0) {
      width: auto !important;
      height: fit-content !important;
      top: 0px !important;
      left: 100px !important;
}

::ng-deep .overwrite-dropdown-option {
      height: 40px !important;
      color: #fff !important;
      font-family: Roboto-Regular;
      font-size: 12px !important;
      background-color: #0f1934;
}

::ng-deep .mat-mdc-option-active {
      background-color: #374168 !important;
}

::ng-deep .overwrite-dropdown {
      color: #fff !important;
      background: #0f1934 !important;
      height: 30px !important;
      border-radius: 3px !important;
}   

::ng-deep .custom-drop-down-image {
      width: 140px !important;
      float: right !important;
      border: solid 1px #4c5469 !important;
      padding: 0px 10px !important;
}

::ng-deep .isCropingEnable {
      background: #969ca33d !important;
}